* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color--: #1e4d52;
}

body {
    font-family: sans-serif;
    background-color: #9a7a5d;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 15px 5%;
 }

 h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;
    font-style: italic;
    line-height: 1.3;
    color: khaki;
    text-shadow: 2px 2px #ff0000;
 }

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    list-style-type: none;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: var(--primary-color--);
    
}

.navbar a:hover {
    border-bottom: 2px white solid;
}

main {
    max-width: 88%;
    margin: 0 auto 0 auto;
}


.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin: 25px 0;
    padding: 10px 0;
}
.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid grey;
    font-size: 4vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;

}

img {
    width: 100%;
    border-radius: 20px;
    filter: grayscale(100%);

}

.image {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px;
    position: relative;
    margin: 20px;
  }

form {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: row;
}

.footerbar {
    background-color: var(--primary-color--);
    padding: 15px 5%;
    color: white;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: underline overline;
}

